@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ptsans-400.woff2) format(woff2)
  font-display swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/ptsans-700.woff2) format(woff2)
  font-display swap;
}

html {
  height: 100%;
}

body {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000;
  background-color: #ffffff;
  text-align: center;
}

.container {
  margin: 0 auto;
  width: 1200px;
}

.main-index {
flex-grow: 1;
}

.main-catalog {
flex-grow: 1;
}

.main-header {
  color: #000;
  background-color: #ffffff;
}

.navigation {
  display: flex;
  width: 1060px;
  margin: 0 auto;
  padding: 0;
}

.navigation-logo {
  width: 138 px;
}

.navigation-list {
  width: 460 px;
  margin-left: 28px;
  margin-right: auto;
}

.navigation-user {
  width: 320 px;
}

.navigation-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #000;
  background-color: #ffffff;
  text-decoration: none;
}

.info {
  display: flex;
  width: 1060px;
  margin: 0 auto;
}

.footer-social {
  width: 200px;
}

.contacts-phone {
  width: 400px;
  margin: 0 auto;
}

.htmlacademy-link {
  width: 115px;
  margin-left: auto;
}

/*
.visually-hidden {
  display: none;
}*/


/*index*/
.hero {
  background-color: #aabeca;
  color: #ffffff;
  background-image: url(../images/decor/frame.svg), url(../images/decor/index-background.jpg);
  background-size: 100% auto, cover;
  background-position: bottom, center;
  background-repeat: no-repeat;
}

.button-desired {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color:#ffffff;
  background-color: #756157;
  text-transform: uppercase;
}
.lead {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.desc {
  font-size: 22px;
  line-height: 26px;
  color: 333333;
}

.advantages-list {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  flex-wrap: wrap;
}

.advantages-item {
  width: 400px;
}

.pictures {
  width: 1200px;
}

.advantages-item.pictures {
  background-color: #82B3D3;
  color: #ffffff;
}

.advantages-title, .service-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-list,.service-list {
  background-color: #F0F6FA;
}

.service-list {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  justify-content: space-between;
}

.service-item{
  width: 400px;
}

.light-blue {
  background-color: #E6F0F6;
}

.white {
  background-color: #ffffff;
}

.button-search {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  color:#ffffff;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
}

.subscribe {
  font-family: "PT Sans", sans-serif;
  background-color: #82B3D3;
  color: #ffffff;
  background-image: url(../images/decor/subscribe-background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.field {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #333333;
}

.button-subscribe {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  background-color: #82B3D3;
  color: #ffffff;
}

.contacts-phone {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  color: #000;
  background-color: #ffffff;
  text-decoration: none;
}

/*catalog*/
.filters {
  background-color: #82B3D3;
  color: #ffffff;
  background-image: url(../images/decor/filter-background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: left;
}

.head-main {
  display: flex;
  flex-wrap: wrap;
  width: 1060px;
  margin: 0 auto;
}

.inner-header-title {
  width: 1060px;
  margin-right: auto;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs {
  width: 1060px;
}

.breadcrumbs-item {
  font-size: 16px;
  line-height: 21px;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  text-decoration: none;
}

.catalog-filter {
  width: 1060px;
  margin: 0 auto;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.catalog-filter-item {
  line-height: 23px;
}

.catalog-inputs {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #F2F2F2;
}

.catalog-min,.catalog-max {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.catalog-submit {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #82B3D3;
}

.catalog-reset {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: transparent;
}

.select-control {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}

.search-result {
  display: flex;
  width: 1060px;
  margin: 0 auto;
  text-align: left;
}

.search-result .lead {
  width: 338px;
  margin-right: 200px;
}

.select-control {
  width: 300px;
}

.view {
  width: 215px;
  margin-left: auto;
}

.hotel-list{
  display: flex;
  width: 1060px;
  margin: 0 auto;
  text-align: left;
  flex-wrap: wrap;
  justify-content: space-between;
}

.hotel-card {
  width: 340px;
}

.hotel-card-title {
  font-size: 24px;
  line-height: 28px;
  background-color: #ffffff;
  color: #000000;
}

.hotel-type,.hotel-price {
  color: #333333;
}

.product-card-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #756157;
  text-transform: uppercase;
  text-decoration: none;
}

.favorites {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #82B3D3;
  text-transform: uppercase;
}

.hotel-card-rating {
  font-size: 16px;
  line-height: 20px;
  background-color: #F2F2F2;
  color: #333333;
}

.pagination {
  display: flex;
  width: 1060px;
  margin: 0 auto;
}

.pagination-item {
  width: 60px;
  margin-right: 8px;
}

.pagination-item:last-child {
  margin-right: 0;
}

.pagination-link {
 font-size: 20px;
 line-height: 36px;
 color: #ffffff;
 background-color: #82B3D3;
 text-decoration: none;
}

.pagination-current {
 color: #000000;
 background-color: #f2f2f2;
}

.pagination-next {
 color: #000000;
 background-color: #ffffff;
}
